#homepage {
    display : none;
    color: rgb(33, 60, 211);
    position: fixed;
    top: 30%;
    left: 30%;
}
.start-btn {
    color :cornflowerblue;
    

}
.btn {
    background-color: rgb(165, 195, 250);
    border: 1px solid rgb(11, 82, 215);
    border-radius: 5px;;

    
}
.firstQuiz {
    /*display : none; */
    position: fixed;
    top: 30%;
    left: 20%;
}
.secondQuiz {
    display : none;
    position: fixed;
    top: 30%;
    left: 20%;
}
.thirdQuiz {
    display : none;
    position: fixed;
    top: 30%;
    left: 20%;
}
.forthQuiz {
    display : none;
    position: fixed;
    top: 30%;
    left: 20%;
}