body {
    background-color: rgb(235, 214, 189);
}
#homepage {
    /*display : none;*/
    color: #256eeb;
    position: fixed;
    top: 30%;
    left: 30%;
}
.start-btn {
    background-color: #256eeb; /* Green */
    border-radius: 12px;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    

}
.btn {
    background-color: rgb(123, 162, 230);
    border: 2px solid rgb(9, 63, 201);
    border-radius: 5px;
    padding: 6px 13px;
    margin-bottom: 10px;
    margin-top: 2px; 
}
.firstQuiz {
    display : none;
    position: fixed;
    top: 30%;
    left: 20%;
}
.secondQuiz {
   display : none;
    position: fixed;
    top: 30%;
    left: 20%;
}
.thirdQuiz {
   display : none;
    position: fixed;
    top: 30%;
    left: 20%;
}
.forthQuiz {
    display : none;
    position: fixed;
    top: 30%;
    left: 20%;
}